server:
    port: 8080
spring:
    application:
        name: commerce
    datasource:
        url: jdbc:log4jdbc:postgresql://localhost:5432/postgres
        username: postgres
        password: postgres
        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
    mybatis:
        config-location: classpath:mybatis-config.xml
    servlet:
        multipart:
            max-file-size: 50MB
            max-request-size: 50MB
file:
    resource-locations: /Users/kyungilkim/devel/react/commerce-back/uploads/
    home-dir: /Users/kyungilkim/devel/react/commerce-back/
    tmp-file-upload-dir: /uploads/tmp-attachments
    real-file-upload-dir: /uploads/attachments/{0}/{1}