server:
    port: 8080
    tomcat:
        connection-timeout : 3600000
spring:
    application:
        name: commerce
    datasource:
        url: jdbc:log4jdbc:mariadb://mandoo1027.tplinkdns.com:3306/teo
        username: mandoo1027
        password: rkskekfk5%
        driver-class-name: net.sf.log4jdbc.sql.jdbcapi.DriverSpy
        hikari:
            maximum-pool-size: 10
            minimum-idle: 5
            idle-timeout: 600000          # 10분
            max-lifetime: 1800000         # 30분
            keepalive-time: 300000        # 5분마다 ping (3.4.0 이상)
            connection-timeout: 30000     # 커넥션 가져오기 대기 시간
            validation-timeout: 5000
    mybatis:
        config-location: classpath:mybatis-config.xml
    servlet:
        multipart:
            max-file-size: 500MB
            max-request-size: 500MB
        session:
            cookie:
                secure: false
                same-site: None
management:
    endpoints:
        web:
            exposure:
                include: health, info
    endpoint:
        health:
            show-details: always
file:
    resource-locations: /Users/kyungilkim/devel/react/commerce-back/uploads/
    home-dir: /Users/kyungilkim/devel/react/commerce-back/
    tmp-file-upload-dir: /uploads/tmp-attachments
    real-file-upload-dir: /uploads/attachments/{0}/{1}

company:
    chk-url: https://api.odcloud.kr/api/nts-businessman/v1/status?serviceKey=
    service-key: DeiF0powLCGOpLdOoh8YbiTVZeqnpZNuqlBjvkIHUq3%2FzQyi8Dz9jXNu1qFpzXFZ1O8Ga%2BJEdahoRohBZlr9Zw%3D%3D

ocr:
    url: http://mandoo1027.tplinkdns.com:5001/ocr